<div class="main-container">

  <app-header [sidenav]="sidenav"></app-header>


  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav  class="w-10p">
      <mat-list>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>local_library</mat-icon>
          <span class="ml-15">
            <a href="/">Home</a>
          </span>
        </mat-list-item>

    <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>science</mat-icon>
          <span class="ml-15">
            <a href="/booktype">Tipo de Livro</a>
          </span>
        </mat-list-item>

    <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>language</mat-icon>
          <span class="ml-15">
            <a href="/language">Linguagem</a>
          </span>
        </mat-list-item>

    <mat-divider></mat-divider>

        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>library_books</mat-icon>
          <span class="ml-15">
            <a href="/booklist">Lista do Livro</a>
          </span>
        </mat-list-item>

    </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <app-footer></app-footer>

</div>
